@model IEnumerable<Shop_app.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
