
@model Shop_app.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Products</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @*@@*foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Price</td>
                                <td>@product.Description</td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
